accelerate
codetiming
datasets
flash-attn>=2.4.3
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils>=0.0.11
ray[default]
tensordict
torchdata
transformers>=4.58.0
vllm>=0.10.2
wandb
